
<div class="container mt-5">
    <h2>Public Files</h2>
    <p></p>
    <table class="table table-striped" *ngIf="fileCount>0">
      <thead>
        <tr>
          <th>Name</th>
          <th>CreatedAt</th>
          <th>Open</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td>{{file.name}}</td>
          <td>{{file.createdAt}}</td>
          <td><a class="btn btn-primary btn-sm" [routerLink]="['/public/file', file.name]">View</a></td>
        </tr>
      </tbody>
    </table>
    <div mt-5 *ngIf="fileCount<=0">
      <h4>
        No Files uploaded...
      </h4>
    </div>
  </div>
