<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template mt-10">
              <h1>
                  Oops!</h1>
              <h2>
                  404 Not Found</h2>
              <div class="error-details mt-10">
                  Sorry, an error has occured, Requested page not found!
              </div>
              <div class="error-actions mt-10">
                  <a routerLink="/user/profile" class="btn btn-primary btn-lg"> Take Me Home </a>
              </div>
          </div>
      </div>
  </div>
</div>
